.card-image-container {
    width: 150px;
    height: 150px;
    
}

.part1 {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 10px;
}

.part1 #name {
    font-family: 'Baskerville Old Face', serif;
    font-size:1.5rem;
    font-weight: bold;
    top: 0;
    left: 0;
}

.image-container {
    border: black solid 1px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.part2 {
    grid-column-start: 2;
    grid-row-start: 2;
    
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    align-content: center;
    grid-column-start: 1;
    align-items: center;
    gap: 10px;
    grid-auto-flow: column;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #bad29f;
    text-align: left;
    justify-content: left;
    /*margin-left: auto;
    margin-right: auto;*/
    /*margin-bottom: 60px;*/
    /*max-width: 50%;*/
    /*min-width: 400px;*/
    /*max-width: 200px;*/
    min-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    width:100%;
}

.card-container > input {
}