@inherits LoginModuleBase;
@using server.Components;

@*
	[DONE] List users
	[DONE] Click user to login
	[DONE] Parents will show password input
	[DONE] Do actual password check	
*@
<div class="card-container">
	@if (Users == null)
	{
		<p>Getting users...</p>
	}
	else
	{
		@foreach (var user in Users)
		{
			<LoginCard User="@user" OnSuccess="async (a) => await Login(a)" />
		}
	}
</div>

