@media (min-width: 641px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}

@media (max-width: 640.98px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}