@inherits EarningsLossesBase
@namespace server.Components.Widgets

@if (Role == Data.User.RoleEnum.Parent)
{
	<WidgetTemplate>
		<span>Earnings/Losses last 2 weeks</span>
		<div class="table">
			@foreach (var child in children)
			{
				<span class="name">@child.Name</span>
				<span class="val">@($"{child.Earnings} SEK")</span>
			}
		</div>
	</WidgetTemplate>	
}


