@namespace server.Components.Widgets
@inherits PotentialEarningsBase


<div class="card border mx-2 mb-2 shadow-lg border-1 border-secondary">
	<span>Tjäna pengar idag</span>
	<div class="table">
		@foreach (var child in children)
		{
			<span class="name">@child.Name</span>
			<span class="val">@($"{child.CanEarnToday} SEK")</span>
		}
	</div>
</div>	


