@namespace server.Components.Widgets
@inherits PotentialEarningsBase

<WidgetTemplate>
	<span>Tjäna pengar idag</span>
	<div class="table">
		@foreach (var child in children)
		{
			<span class="name">@child.Name</span>
			<span class="val">@($"{child.CanEarnToday} SEK")</span>
		}
	</div>	
</WidgetTemplate>
	


