@inherits MyRadioButtonBase

<div class="wrapper">
    <fieldset id="@Id">
        <CascadingValue name="RadioGroup" Value="@this">
            @ChildContent
        </CascadingValue>
    </fieldset>
</div>