@page "/Achievements"
<h3>Achievements</h3>

@code {
    
    /* 
     * [TODO] - Create achievements that are tied to tasks
     *      create some categories for tasks, cleaning, schooling and so on
     *      What kind of achievements are there?
     * Tasks:
     *  do x tasks of category?
     *  do same task in row?
     *  Do a set of tasks within?
     *  Do a set of tasks total?
     * Money:
     *  Spend x amount of money?
     *  Earn x amount of money total?
     *  Earn x amount of money within?
     */
}