.grid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr auto;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.grid > span {
	padding: 8px 4px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

span > button {
}

.button-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.button-grid > button {
	/*padding: 0;*/
}

.grid > .unread {
	background-color: #a6f3ea;
}

.grid > .denied {
	background-color: #ffadad;
}
